header{
	background-color: #0000ff;
	padding: 20px 40px ;
	text-align: center ;

}
h1{
	font-size: 90px;
	color: white;
}
header img{
	border-radius: 200px;
	    width: 350px;
	    border: 24px solid #ff0000
}





/*<header>
		<img src="img/profile.jpg">
		<h1>Spectacular Spiderman</h1>
	</header>*/